.meson-red {
    background-color: #EA80A0;
}

.electron-yellow {
    background-color: #FED97C;
}

.muon-green {
    background-color: #9AE5A6;
}

.proton-blue {
    background-color: #8AC2FB;
}

.tau-purple {
    background-color: #BEA0DB;
}

.fermion-pink {
    background-color: #DB9FCD;
}
